<div class="container">
    <mat-card>
        <span><a href="/"><img src="./assets/logo.png" width="100px"></a></span>
        <mat-card-title>Your Mail!</mat-card-title>
        <form>
        <mat-form-field class="full-width-input">
            <input matInput placeholder="Email" formControlName="username" required>
            <mat-error>
            we have send your link for reset
            </mat-error>
          </mat-form-field>
          <button mat-raised-button color="primary">Submit</button>
        </form>
    </mat-card>
</div>