<mat-toolbar color="primary">
    <mat-toolbar-row>
      <!--  <span>HOME</span> -->
       <span><a href="/"><img src="./assets/logo.png" width="40px"> &nbsp;<span style="color: whitesmoke;">Ex-Splitter</span></a></span>
       <span class="spacer"></span>
     
        
       <a class="button" mat-button routerLink="/invite">INVITE</a>
       <a class="button" mat-button routerLink="/register">REGISTER</a>
       <a class="button" mat-button routerLink="/login">LOGIN</a>
       
    </mat-toolbar-row>
  </mat-toolbar>
<div>

 