<table class="table">
    <thead class="thead-light">
      <tr>
        <th></th>
        <th>Expense</th>
        <th>Value</th>
        <th>Users</th>
        <th>Options</th>
   
      </tr>
    </thead>
    <tbody>
      <tr >
        <td ></td>
        <td> expensename </td>
        <td> expensevalue</td>
        <td>
          <span>username 
            <span ></span> <br />
          </span>
        </td>
        <td>
          <button class="btn btn-danger btn-sm" >
            <i class="fas fa-trash-alt"></i>
          </button>
          <button class="btn btn-warning btn-sm ml-1" >
            <i class="fas fa-edit"></i>
          </button>
        </td>
        
      </tr>
    </tbody>
  </table>
