
<div class="container">
  <div class="row">
  
          <mat-card>
            <mat-card-title>Create Group</mat-card-title>
            <mat-form-field>
              <input matInput placeholder="Name">
            </mat-form-field>
            <mat-card-title>Add Group Members</mat-card-title>
            <mat-form-field>
              <input matInput placeholder="friend 1">
            </mat-form-field>
            <mat-form-field>
              <input matInput placeholder="friend 2">
            </mat-form-field>
            <mat-form-field>
              <input matInput placeholder="friend 3">
            </mat-form-field>
            <mat-form-field>
          <mat-icon></mat-icon>
            </mat-form-field>
            <mat-form-field>
              <button mat-flat-button color="primary">Submit</button>
            </mat-form-field>
          </mat-card>
  
  </div>
</div>