<div >
    <h1>People</h1>
    <ul class="list-group" > 
      <li  class="list-group-item" >
        <i class="fas fa-arrows-alt mr-2" ></i>
        <button class="btn btn-danger btn-sm" >
          <i class="far fa-trash-alt"></i>
        </button>
        <button class="btn btn-warning btn-sm ml-2" >
          <i class="fas fa-edit"></i>
        </button>
        <button  class="btn btn-success btn-sm ml-2" >
          <i class="fas fa-check"></i>
        </button>
  
        <ng-container>
          <span class="ml-3">user</span>
          <span class="ml-3">Weight</span>
        </ng-container>
  
        <ng-container >
          <input tabindex="-1" type="text"
            class="form-control username ml-3">
          <input tabindex="-1" type="text"
            class="form-control username ml-3">
        </ng-container>
  
      </li>
    </ul>
    <button  class="btn btn-warning mt-2" ></button>
  </div>